/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.7.0
*/

/* styles for entire widget */
.yui-skin-sam .yui-ac {
    position:relative;font-family:arial;font-size:100%;
}

/* styles for input field
.yui-skin-sam .yui-ac-input {
    position:absolute;width:100%;
}
*/

/* styles for results container */
.yui-skin-sam .yui-ac-container {
    position:absolute;top:1.6em;width:100%;
}

/* styles for header/body/footer wrapper within container */
.yui-skin-sam .yui-ac-content {
    position:absolute;width:100%;border:1px solid #808080;background:#fff;overflow:hidden;z-index:9050;padding:0;margin:0;float:none;
}

/* styles for container shadow */
.yui-skin-sam .yui-ac-shadow {
    position:absolute;margin:.3em;width:100%;background:#000;-moz-opacity: 0.10;opacity:.10;filter:alpha(opacity=10);z-index:9049;
}

/* styles for container iframe */
.yui-skin-sam .yui-ac iframe {
    opacity:0;filter: alpha(opacity=0);
    padding-right:.3em; padding-bottom:.3em; /* Bug 2026798: extend iframe to shim the shadow */
}

/* styles for results list */
div.section .yui-skin-sam .yui-ac-content ul{
    margin:0;padding:0;width:100%;
}

/* styles for result item */
div.section div.yui-skin-sam .yui-ac-content li {
    margin:0;padding:2px 5px;cursor:default;white-space:nowrap;list-style:none;
    zoom:1; /* For IE to trigger mouse events on LI */
}

/* styles for prehighlighted result item */
div.section div.yui-skin-sam .yui-ac-content li.yui-ac-prehighlight {
    background:#eecc00;
}

/* styles for highlighted result item */
div.section div.yui-skin-sam .yui-ac-content li.yui-ac-highlight {
    background:#eecc00;
}
