#transform-dialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 500px;
    margin-top: -250px;
    margin-left: -300px;
    background: #fff;
    border: 1px solid black;
    overflow: hidden;
}

.error-message { color: red; font-weight: bold; }

div.dialog-header div.close-button {
    float: right;
    padding-right: 6px;
    padding-top: 4px;
    font-size: .8em;
    line-height: 1.8em;
    font-weight: 100;
    height: 1em;
    width: 6.5em;
}

.dialog-footer .brown {
    background: #9c9673;
}

#transform-dialog .brown {
    background: #9c9673;
}

div.dialog-header div.close-button a.button {
    float: right;
    margin-left: .5em;
}

div.dialog-header div.close-button span {
    width: 11px;
    height: 12px;
    margin: 0;
    padding: 0;
    background-color: #829389;
    background-image: url(../images/x.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#transform-dialog span.label {
    display: block;
    float: left;
    margin-left: 35px;
    width: 15%;
}

#transform-dialog #flip-img {
    /*    border: 1px solid red; */
    max-width: 256px;
    max-height: 256px;
}

#transform-dialog ul li {
    border-top: 1px solid #becdc8;
    border-right: 1px solid #becdc8;
    border-left: 1px solid #becdc8;
}

#transform-dialog div.dialog-footer {
    height: 5em;
    padding-right: 3em;
}

#asset-edit-dialog div.dialog-footer {
    padding-right: 3em;
}

span.error {
    color: red;
    text-align: center;
    display: block;
}

div.dialog-footer div.wait {
    position: absolute;
    top: -15px;
    right: 5em;
}

.dialog-section {
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

#asset-information-pane {
    border-top: 1px solid #bfcdc7;
    font-size: 1em;
}

#asset-transform-pane {
    border-top: 1px solid #bfcdc7;
    font-size: 1em;
}

#asset-replacement-pane {
    border-top: 1px solid #bfcdc7;
}

div.dialog-header {
    padding-left: 6px;
    color: #4f5557;
    font-size: 1.1em;
    font-weight: bold;
    height: 2.3em;
    line-height: 2.3em;
    background: #dee4e2;
    left: 0;
    top: 0;
}

div.dialog-header img {
    padding-top: 4px;
    margin: 0;
    vertical-align: top;
}

div.dialog-header ht {
    position: absolute;
    top: 0%;
    padding-left: 1em;
    font-size: 1.2em;
}

div.dialog-availablespace {
    float: right;
    line-height: 2em;
    height: 2em;
}

div.dialog-content {
    padding-right: 10px;
    padding-left: 10px;
}

div.dialog-content h2 {
    padding-top: 1em;
    color: #666666;
}

div.dialog-content form {
    padding: .5em;
}

div.dialog-footer {
    position: absolute;
    padding-left: 1.5em;
    height: 4em;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#dialog div.assets {
    position: absolute;
    border-top: 1px solid #666666;
    border-left: 1px solid #666666;
    border-bottom: 1px solid #666666;
    padding: 1em;
    margin-left: 2em;
    top: 7.5em;
    bottom: 4.5em;
    left: 0px;
    right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#dialog {
    z-index: 4000;
    }

#dialog div.sort-controls {
    position: absolute;
    top: 3em;
    right: 0.5em;
}

#dialog-half-fields {
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
    position: absolute;
    padding: .5em;
    top: 7.5em;
    bottom: 5em;
    left: 0px;
    width: 260px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dialog-half-assets {
    border-left: 1px solid #666666;
    border-top: 1px solid #666666;;
    border-bottom: 1px solid #666666;
    position: absolute;
    padding: .5em;
    top: 7.5em;
    bottom: 5em;
    width: 320px;
    right: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dialog-assets form {
    padding-left: 1em;
}

span.description {
    padding-left: 2em;
    font-size: .8em;
}

div.dialog-footer a.button {
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    min-width: 8em;
    float: left;
    line-height: 1.5em;
}

div.dialog-footer a.float-right {
    float: right;
}

div.dialog-image-area {
    position: absolute;
    top: 135px;
    left: 250px;
    display: table-cell;
    width: 258px;
    height: 258px;
    line-height: 258px;
    border:4px solid #cbd8d1;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}

div.dialog-image-area * {
    verital-align: middle;
    }

#asset-information-pane div.dialog-image-area {
    left: 180px;
    }
#asset-transform-pane div.dialog-image-area {
    top: 100px;
    left: 180px;
    }
    

img.centered-image {
    border: 1px solid white;
}


div#shim {
    visibility: hidden;
    width: 100%;
    height: 1px;
}


div.download-quickstor {
    padding-left: 2em;
    padding-right: 2em;
}

div.download-quickstor a {
    line-height: 2em;
    font-size: 1.4em;
    text-decoration: underline;
}

/* Confirm dialog section */
#confirm-dialog {
    display: none;
    position: absolute;
    top: 12%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid black;
    overflow: hidden
}

#confirm-dialog div.message {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em;
    text-align: center;
    line-height: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

/* information dialogs specific section */
#alert-dialog {
    display: none;
    position: absolute;
    top: 12%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -200px;
    border: 1px solid black;
    background: white;
    overflow: hidden;
    z-index: 10000;
}

.alert-overlay {
    background-color: black;
    z-index: 9999;
}

div.dialog-centered-content {
    color: #666666;
    background: white;
    text-align: center;
    margin-top: 3em;
    width: 100%;
}

div.dialog-centered-success {
    min-height: 10em;
    margin-top: 2em;
    display: block;
    vertical-align: middle;
}

div.multiaction-success {
    width: 50%;
    margin-left:25%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align:center;
}

#info-major {
    font-weight:bold;
    font-size:large;
    line-height: 110%;
    margin-left: 10px;
    margin-right: 10px;
}

#info-dialog {
    display: none;
    }

#info-minor {
    font-size:small;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

#text-dialog {
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    width: 450px;
    height: 80%;
    margin-left: -225px;
    background: #fff;
    border: 1px solid black;
    overflow: hidden;
}

div.text-content {
    position: absolute;
    font-size: 1em;
    top: 30px;
    bottom: 0;
    left: 1em;
    right: 0;
    padding-right: 1em;
    padding-bottom: 1em;
    overflow: auto;
}

div.text-content h1, div.text-content h2 { margin: 1em 0; }
div.text-content h3 { margin: 1em 0 0.5em 0; }

div.text-content ol, div.text-content ol li { list-style-type: decimal; margin-left: 1em; }

div.text-content p { margin: 1em 0; }
div.text-content dt { font-weight: bold; }
div.text-content dd { margin-left: 1em; margin-top: 0.5em; margin-bottom: 1.5em; }


div.form-upload {
    padding-bottom: .6em;
}

div.field {
    float: left;
    padding-right: 2em;
    padding-bottom: 1em;
    color: #666;
    width: 500px;
    margin-left: 2em;
    background: none;
}

div.field label {
    font-weight: bold;
    padding-bottom: 0.5em;
    display: block;
}

div.field input, div.field .hint {
    width: 300px;
}
div.field input.short {
    width: 50px;
}

#profile-tab div.field div.hint {
    font-size: .9em;
}

#profile-tab div.save-button {
    position: absolute;
    bottom: 3em;
    right: 1em;
}

#password-tab div.field {
    padding-bottom: 1em;
    color: #666666;
}

#password-tab div.note {
    padding-bottom: 1em;
    font-size: .9em;
    color: #666666;
}

#password-tab div.field div.hint {
    font-size: .9em;
}

#password-tab div.save-button {
    position: absolute;
    bottom: 3em;
    right: 1em;
}

#image-manipulation-tabs {
    background: #dee4e2;
}

#image-manipulation-tabs li {
    width: 15em;
    background: #dee4e2;
}

#asset-transform-pane div.image-processing-controls {
    margin-left: 159px;
}

a.graphic-button {
    background-color: #cbd8d1;
    text-decoration: none;
    color: #4f5557;
    font-size: 8.5px;
    padding: 3px;
    padding-right: 6px;
    padding-left: 15px;
    margin: 0;
    border-right: 1px solid #9caca8;
    border-bottom: 1px solid #cbd8d1;
}

#asset-transform-pane a:active {
    outline: none;
}

a.graphic-button:hover {
    color: #3a4144;
}

a.button.flip-cw span {
    background-image: url('/images/rotate-cw.png');
    background-position: 10px center;
    background-repeat: no-repeat;
}

a.button.flip-ccw span {
    background-image: url('/images/rotate-ccw.png');
    background-position: 10px center;
    background-repeat: no-repeat;
}

a.button.flip-vertical span {
    padding-left: 1.5em;
    background-image: url('/images/flip-vertical.png');
    background-position: 2px center;
    background-repeat: no-repeat;
}

a.button.flip-horizontally span {
    padding-left: 1.8em;
    background-image: url('/images/flip-horizontal.png');
    background-position: 2px center;
    background-repeat: no-repeat;
}

#file-list-container {
    position: absolute;
    top: 13em;
    bottom: 7em;
    left: 1em;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#complete-wrapper {
    position: absolute;
    bottom: 50px;
    overflow: hidden;
    left: 20px;
}

#close-on-complete {
    float: left;
}

#file-list-container div.file {
    padding: .5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    clear: both;
    overflow: hidden;
}

#file-list-container div.progress {
    width: 370px;
    height: 7px;
    background-color: #eeeee3;
}

#file-list-container div.file-status {
    float: right;
}

#file-list-container div.filename {
    font-weight: bold;
}

#upload-stats {
    position: absolute;
    top: 115px;
    left: 18px;
    text-align: right;
}

#select-files {
    position: absolute;
    right: 75px;
    bottom: 14px;
    cursor: pointer;
}

#add-button {
    position: absolute;
    right: 75px;
    bottom: -32px;
}

#cancel-button {
    position: absolute;
    left: 15px;
    bottom: 16px;
}

#upload-totals {
    display: none;
    background: white;
    position: absolute;
    top: 70px;
    left: 10px;
}

#clear-button {
    display: none;
    position: absolute;
    left: 102px;
    bottom: 16px;
}

div.file-list-empty {
    background-image: url(../images/uploader.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

#artstor-preview-content div.dialog-content {
    height: 275px;
    overflow-y: auto;
    overflow-x: hidden;
    }

/* .yui-skin-sam .yui-ac-content { left: -5px; } */