#document {
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    padding-left: 4em;
    padding-right: 4em;
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 54px;
}

div.section {
    max-width: 45em;
}

div.section div {
    float: left;
    margin-top: .25em;
    margin-bottom: .25em;
}

div.section div.hidden {
    margin: 0;
    padding: 0;
    display: none;
}

div.section div.label {
    margin:0;
    font-weight: 100;
    line-height: 2.0em;
    float: right;
}

form.document select {
    font-size: 1em;
    font-weight: 100;
    margin-right: 0.5em;
}

div.section select.half {
    width: 205px;
}

div.section  select.full {
    width: 420px;
}

div.section div.tiny {
    width: 205px;
}

div.section input.half {
    width: 205px;
}

div.section input.full {
    width: 420px;
}

div.section textarea.full {
    width: 420px;
}

#document-messaging {
    font-size: 1.2em;
    color: red;
}

div.section div.document-section-heading {
    margin: 0;
    margin-top: 2em;
    margin-bottom: .5em;
    padding: 0;
    padding-left: 1em;
    width: 95%;
    background: #f8f7f2;
    line-height: 2em;
    height: 2em;
    border-left: 5px solid #dfdec9;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #b64404;
}

div.section div.document-section-heading div.document-control {
    font-size: .8em;
    padding-right: 1.2em;
    float: right;
}

div.clear {
    clear: both;
}

div.document-control { width: 120px; }

div.section div.document-control a.button {
    margin-left: 4px;
}

form.document div label {
    line-height: 2em;
}

form.document input {
    font-weight: 100;
    font-size: 1em;
    margin-right: 0.5em;
}

form.document form select {
    width: 18.75em;
    font-weight: 100;
    font-size: 1em;
}

form.document div.forced-small {
    width: 18.75em;
}

form.document select.tiny {
    width: 8em;
}

form.document textarea {
    font-size: 1em;
    font-family: Verdana, sans-serif;
    font-weight: 100;
}

label.locked {
    padding-left: 14px;
    background: no-repeat url(../images/locked.gif);
}

div.section-heading div.controls {
    position: absolute;
    right: 0px;
    padding-top: 2px;
    line-height: 1.4em;
    overflow: hidden;
}

#right-column div.section-heading div.controls {
    width: 12.2em;
}

div.section-heading div.required {
    padding-left: 23px;
    height: 26px;
    background-color: #E7E6D1;
    border-bottom: 1px solid #BECDC8;
    line-height: 26px;
    font-size: 12px;
    margin: 0;
    }

div.section-heading div.controls label {
    float: left;
    display: block;
    line-height: 2.6em;
    margin-right: 6px;
    font-weight: 100;
    font-size: 9pt;
}

div.document-section-heading div.document-control div.label {
    color: black;
}

div.section div.field-controls {
    float: right;
    margin: 0;
    margin-right: 5px;
    overflow: hidden;
}

div.field-controls a.button {
    float: right;
    margin-top: 2px;
    margin-left: 4px;
    width: 14px;
}

a.button span.field-add-control {
    display: block;
    padding: 0;
    margin: 0;
    width: 12px;
    height: 12px;
    background: #829389;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    background-position: center center;
}

a.button span.field-remove-control {
    display: block;
    padding: 0;
    margin: 0;
    width: 12px;
    height: 12px;
    background: #829389;
    background-image: url(../images/minus.png);
    background-repeat: no-repeat;
    background-position: center center;
}

a.clear-creator-lock {
    float: right;
    margin-top: 4px;
    margin-left: 4px;
    width: 22px;
    height: 13px;
    background-image: url(../images/clear-lock.png);
}

a.clear-creator-lock:hover {
    background-image: url(../images/clear-lock-hover.png);
}

div.section div.active {
    color: #b64404;
    border-left: 5px solid #b64404;
}

div.document-control a.button {
    margin-top: 4px;
    float: right;
}

form.document div.scrolling-checkbox-selector {
    margin: 0;
    padding: 0;
    width: 420px;
    border: 1px solid #666666;
    height: 10em;
    overflow-y: auto;
    overflow-x: hidden;
}

div.scrolling-checkbox-selector div {
    width: 100em;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    line-height: 1.4em;
}

div.scrolling-checkbox-selector div:hover {
    background: #b9c4bf;
}

div.scrolling-checkbox-selector div input { float: left; }

div.section div.hint {
    padding-top: 0;
    margin-top: 0;
    color: #394227;
}

/* Disabled button styles */
#right-column div.column-footer a.disabled {
    background-color: #666666;
}

#right-column div.column-footer a.disabled {
    background-color: #666666;
}

#right-column div.column-footer a.disabled div.button-text {
    background-color: #666666;
    border: 1px solid black;
}

#right-column div.column-footer a.disabled div.button-text:hover {
    border: 1px solid black;
}

dev.section {
    position: relative;
}

div.section div.autocomplete-result {
    margin: 0;
    z-index: 9999;
    position: relative;
}


div.section div.yui-ac-bd {
    float: none;
    margin: 0;
    padding: 0;
}

div.section div.hint span.invalid {
    padding-left: 3px;
    color: red;
    font-weight: bold;
}

.vsplitbar { position: relative; }
.vsplitbar .handle { position: absolute; top: 50%; left: 2px; width: 2px; background: #fff; height: 10px; display: block; }