html { overflow: auto; }

#text-dialog-title { position: relative; top: 4px; }
#dialog div.assets { top: 8.5em; right: 5px; }
#admin-asset-edit-dialog div.dialog-header { width: 795px; padding-top: 0.5em; }
#search-results div.table-container { position: absolute; top: 100px; left: 0; bottom: 40px; right: 0; overflow-y: scroll; overflow-x: hidden; }
#text-dialog div.dialog-header { width: 445px; }
#header div.logo { width: 95px; }
#refer-dialog-confirm { height: 370px; }

div.sort-controls form select { margin-left: 0.5em; }
div.section div.field-controls { width: 19em; right: 2em; }
div.scrolling-checkbox-selector div input { width: 15px !important; }
div.asset { float: left; }
div.dialog-header { width: 593px; padding-top: 0.5em; }
div.dialog-header img { padding-top: 0; }
div.dialog-content h2 { line-height: 1em; padding-top: 0; margin-top: 0.5em; font-size: 1.75em; }
div.section div.field-controls { margin-right: 23px; }
div.section input.half { width: 199px; }
hr.section-splitter { top: 36px; }
div.dialog-image-area span { display: inline-block; height: 100%; }