* { margin: 0; padding: 0; }
body { font-family: Verdana, Arial, sans-serif; font-size: 62.5%; line-height: 1.5em; background: url(../images/background_tile_with_nav.png) top left repeat-x; }
ul { list-style: none; }
a { color: #5D8F73; }
a:focus, a:hover { color: #b64404; }
a:active { outline: none; }
img { vertical-align: middle; }

#content { top: 50px; margin-top: 50px; background: white; padding-bottom: 34px; overflow: hidden; }
#hd-wrapper { width: 100%; background-color: #dee4e2; height: 2em; }
#bd-wrapper { position: relative; }
#header { position: relative; padding: 11px 0 0 16px; height: 20px; color: #394227; font-size: 10px; clear: both; }
#header img { position: absolute; top: 7px; left: 6px; }
#header a { font-weight: 400; }
#header div.logo { position: absolute; top: 12px; right: 0px; height: 22px; width: 96px; }

#tools-menu { display: none; z-index: 1000; position: absolute; top: 28px; right: 6px; border: 1px solid white; }
#tools-menu li ul { border: 1px solid white; }
#tools-menu li { background: #cdd6d1; border-bottom: 1px solid #b2c5bb; }

#tools-menu li a {
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #4f5557;
    text-decoration: none;
    display: block;
}

#tools-menu li:hover {
    background: #dee4e2;
}

#tagline {
    color: #4f5557;
    padding-left: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
}

#splitter {
    position: absolute;
    top: 92px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#splitter .vsplitbar {
    width: 6px;
    background-color: #dee4e2;
}

#left-column {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 467px;
    width: 467px;
}

#right-column {
    position: absolute;
    top: 0px;
    left: 453px;
    right: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;

    min-width: 510px;
    width: auto !important;
    width: 510px;
}

div.section-heading {
    border-top: 1px solid white;
    background-color: #e7e6d1;
    font-size: 1.5em;
    height: 38px;
    line-height: 38px;
    min-width: 23em;
    position: absolute;
    width: 100%;
}

div.section-heading img.name {
    margin-left: 1.5em;
    line-height: 38px;
    vertical-align: middle;
}

div.section-heading div.controls {
    position: absolute;
    top: 2px;
    right: 6px;
    width: 10.5em;
    font-family: Verdana, Arial, Helvectica;
    font-size: 1em;
    color: #666666;
    padding-right: 4px;
    overflow: hidden;
}

div.column-heading {
    height: 2em;
    padding-left: .7em;
    line-height: 2em;
}

#folder-wrapper {
    background-color: #fff;
    position: absolute;
    top: 3.9em;
    right: 0em;
    left: 0em;
    bottom: 0em;
}

#folder-wrapper ul {
    padding-left: .5em;
    padding-right: .5em;
}

#folder-wrapper ul li {
    padding: 0;
    margin: 0 0.3em 0 0;
    border-top: 1px solid #becdc8;
    border-right: 1px solid #becdc8;
    border-left: 1px solid #becdc8;
    width: 15em;
}

div#progressing {
    background: #fff;
}

div.assets div.empty {
    padding-top: 5em;
    color: #666;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

div.assets div.empty ol {
/* padding-left: 0; */
}

div.assets div.empty ol li {
    padding-top: 1em;
}

div.assets div.empty a.button {
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 5em;
    background: #b64404;
}

div.assets div.empty a.button .button-text {
    background: #b64404 !important;
}

div.sort-controls {
    background: #f8f7f2;
    padding-left: .5em;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #837e57;
    font-weight: 100;
    border-left: 5px solid #dfdec9;
    margin-bottom: .50em;
}

div.sort-controls form {
    display: inline;
}

div.sort-controls form select {
    display: inline;
    font-size: .9em;
    width: 18em;
    color: #b64404;
    background-color: #fff;
    border: 1px solid #808080;
}

div.assets p {
    padding-bottom: 1.0em;
    padding-top: 1em;
    color: #666666;
}

div.column-footer {
    margin: 0;
    padding: 0em;
    padding-left: 35px;
    padding-top: 2px;
    padding-bottom: 5px;
    position: absolute;
    background: #E6E6C5;
    right: 0;
    bottom: 0;
    left: 0;
    height: 47px;
    overflow: hidden;
    min-width: 30em;
    font-size: 0.9em;
    border-top: 1px solid #becdc8;
}

#terms-footer a { padding: 0 0.5em; }
#terms-footer { position: absolute; bottom: 4px; left: 3em; }

#contribute-multiple-footer {
    position: absolute;
    bottom: 4px;
}

/******* General purpose buttons ********
         Buttons should take the form:

<a href="bleh" class="button">
<span>button contents</span>
</a>

*****************************************/
a.button {
    display: block;
    padding: 1px;
    margin: 0;
    overflow: hidden;
    background: #829389;
    text-decoration: none;
    cursor: pointer;
}

a.button span {
    display: block;
    text-align: center;
    padding: 0 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #C1C9C4;
    font-weight: 500;
    font-size: 7.5pt;
    color: white;
    background: #829389;
}

a.button:hover {
    text-decoration: none;
}

a.button span:hover {
    border: 1px solid #fff;
}

div.settable-button {
    display: block;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    padding-top: 5px;
    margin-right: 4px;
    overflow: hidden;
    float: left;
}

div.settable-button a.button .button-text {
    display: block;
    min-width: 0px;
    padding-right: .35em;
    padding-left: .35em;
    font-weight: 100;
    color: #fff;
    height: 1em;
    line-height: 1em;
    font-size: 8pt;
}

div.current-setting {
    background-image: url(../images/current_setting_arrow.png);
    background-repeat: no-repeat;
    background-position: top center;
}

div.current-setting a.button {
    background-color: #b64404;
}

div.current-setting .button-text {
    display: block;
    background-color: #b64404;
}

/***************************************/

#header div.logo a.button {
    position: absolute;
    top: -2px;
    right: 6px;
    margin-left: 0.5em;
}

#header div.logo span.tools-button {
    display: block;
    width: 15px;
    height: 14px;
    padding: 0;
    margin: 0;
    background-image: url(../images/header-down-arrow.png);
    background-repeat: no-repeat;
    background-attachement: fixed;
    background-position: center;
}

div.column-footer a.button {
    float: left;
    margin-top: 4px;
    margin-right: 6px;
}

div.column-footer a.button span.button-text {
    min-width: 6em;
    /* font-size: 9em; */
}

div#tagline a.button {
    float: right;
    margin-top: 2px;
    margin-right: 5px;
    padding: 0;
    border: 1px solid #acc0ae;
}

div#tagline a.button span {
    display: block;
    height: 16px;
    line-height: 16px;
    padding-right: 2em;
    font-weight: bold;
    color: #5d8f73;
    border: 1px solid #fff;
    background: #dee4e2;
    background-image: url(../images/tagline-arrow.png);
    background-repeat: no-repeat;
    background-position: 10.25em center;
}

div#tagline a.button span:hover {
    background-image: url(../images/tagline-arrow-hover.png);
    color: #b64404;
}

/* #right-column div.column-footer .orange {
   background: #b64404;
   }
   */

div.column-header {
    background-color: #E7E6D1;
    margin: 0;
    line-height: 26px;
    padding-left: 23px;
    height: 25px;
    border-bottom: 1px solid #becdc8;
}


.document div label.required {
    padding-left: 14px;
    background-image: url(../images/required.png);
    background-repeat: no-repeat;
}

#thumbnail-small{
    margin: 0;
    padding: 0;
    width: 9px;
    height: 9px;
    border: 1px solid white;
    background: #829389;
}

#thumbnail-medium {
    margin: 0;
    padding: 0;
    width: 13px;
    height: 13px;
    border: 1px solid white;
    background: #829389;
}

#thumbnail-large {
    margin: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    border: 1px solid white;
    background: #829389;
}

div.current-setting span#thumbnail-small { background-color: #b64404; }
div.current-setting span#thumbnail-medium { background-color: #b64404; }
div.current-setting span#thumbnail-large { background-color: #b64404; }

div.assets span.tiny {
    font-size: .8em;
}

div#contributed {
    background: #fff;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 2.2em;
    right: 0px;
    bottom: 0px;
    left: 0px;
    font-size: 0.9em;
    border-top: 1px solid #becdc8;
}
div#contributed .sort-controls { margin-left: 2em; }
div#contributed .assets { margin-left: 0; }

div.inline {
    display: inline;
}

ul.ui-tabs-nav {
    background-color: #e7e6d1;
    min-width: 400px;
}

.ui-tabs-panel {
    border-top: 1px solid #c1ccc4;
    background-color: #fff;
    min-width: 400px;
/* declare background color for container to avoid distorted fonts in IE while fading */
}

ul.ui-tabs-nav a span {
    min-width: 7.8em;
    position: relative;
}

ul.ui-tabs-nav a span b {
    text-decoration: underline;
    font-size: 11px;
}

.ui-tabs-nav a {
    color: #598f73;
    margin: 0;
}

.ui-tabs-nav a span {
    margin: 0em;
}

.ui-tabs-nav a, .ui-tabs-nav a span {
    background-color: #e7e6d1;
}

.ui-tabs-nav a, .ui-tabs-nav a span {
    background: #FFF;
}

.ui-tabs-nav a, .ui-tabs-nav a span {
    background: #f2f2ea;
    padding-top: .25em;
}

.ui-tabs-selected a {
    background: #fff;
}

.ui-tabs-selected a span {
    background: #fff;
    color: #b6430a;
}

.ui-tabs-selected a span b { text-decoration: none !important; }

div.thumbnail-size0 { width: 74px; }

div.thumbnail-size0 div.img-wrapper {
    text-align: center;
    line-height: 64px;
    width: 64px;
    height: 64px;
    position: relative;
    margin: 0 auto;
}

div.img-wrapper img {
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
}
div.img-wrapper .valid-img { position: absolute; right: -16px; top: 0; }

div.thumbnail-size1 {
    vertical-align: bottom;
    max-width: 136px;
    position: relative;
    margin-right: 1em;
}
div.thumbnail-size1 .valid-img {
    right: -13px !important;
}

div.thumbnail-size1 div.img-wrapper {
    text-align: center;
    line-height: 128px;
    width: 128px;
    height: 128px;
    overflow: hidden;
}

div.thumbnail-size2 {
    vertical-align: bottom;
    max-width: 264px;
    position: relative;
}
div.thumbnail-size2 .valid-img { right: -13px !important; }

div.thumbnail-size2 div.img-wrapper {
    text-align: center;
    line-height: 256px;
    width: 256px;
    height: 256px;
    overflow: hidden;
}

div.img-wrapper {
    border: 1px solid #839389;
    padding: 3px;
}

div.assets img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.assets div.valid {
    border: 4px solid #dae3de;
    padding: 0;
}

#progressing div.asset div div {
    border: 4px dotted #899c88;
    padding: 0;
}

div.assets div.selected {
    border: 4px solid #b64404 !important;
    padding: 0;
}

div.asset {
    margin-top: .25em;
    margin-bottom: .25em;
    margin-right: 1em;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    min-height: 100px;
    _height: 100px;
    text-align: center;
}

div.asset p {
    text-align: left;
    font-size: 10px;
}

/* IE 6,7 */
* + html div.asset { float: none; }

div.asset .valid-img { position: absolute; top: 4px; right: -10px; }

.hidden { display: none; }

.document div.indent-left { display: block; margin-left: 1em; }
p.caption { display: block; clear: both; font-size: .9em; }

#document-wait {
    position: absolute;
    top: .75em;
    left: 25em;
    height: 2em;
    font-size: .7em;
    line-height: 2em;
}

#document-wait img {
    vertical-align: middle;
}

.jqmWindow {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 300px;
    margin-top: -250px;
    margin-left: -300px;
    background: #FFF;
    border: 1px solid black;
}

.jqmOverlay { background-color: #000; }

#JT_arrow_left{
    background-image: url(../images/arrow_left.png);
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    z-index:101;
    left:-12px;
    height:23px;
    width:10px;
    top:-3px;
}

#JT_arrow_right{
    background-image: url(../images/arrow_right.png);
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    z-index:101;
    height:23px;
    width:11px;
    top:-2px;
}

#JT {
    position: absolute;
    z-index:100;
    border: 2px solid #8f987d;
    background-color: #fff;
}

#JT_copy{
    padding:10px 10px 10px 10px;
    color:#333333;
}

.JT_loader{
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    height:12px;
}

#JT_close_left{
    background-color: #8f987d;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-weight:bold;
}

#JT_close_right{
    background-color: #8f987d;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-weight:bold;
}

#JT_copy p{
    margin:3px 0;
}

#JT_copy img{
    padding: 1px;
    border: 1px solid #CCCCCC;
}

.jTip{
    cursor:help;
}

div.asset div.thumbnail-size0 img.valid-img {
    position: absolute;
    margin-left: 68px;
    margin-top: 0px;
    display: none;
}

div.asset div.thumbnail-size1 img.valid-img {
    position: absolute;
    margin-left: 132px;
    margin-top: 0px;
    display: none;
}

div.asset div.thumbnail-size2 img.valid-img {
    position: absolute;
    margin-left: 260px;
    margin-top: 0px;
    display: none;
}

div.asset div.valid img.valid-img {
    display: block;
}

#progressing-count {
    background: none;
    display: inline;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    color: #666666;
    font-weight: 100;
}

#contributed-count {
    background: none;
    display: inline;
    margin: 0;
    padding: 0;
    color: #666666;
    font-weight: 100;
}

hr.section-splitter {
    display: block;
    position: absolute;
    left: 24px;
    right: 8px;
    color: #bfcdc7;
    border: 0;
    background-color: #bfcdc7;
    height: 1px;
}

.thumbnail-size0 { margin-right: 1em; }
div.assets { margin-left: 2em; }

#progressing div.assets,
#contributed div.assets { position: absolute; top: 68px; bottom: 56px; overflow-x: hidden; width: 91%; overflow-y: scroll; }
#contributed div.assets { margin-left: 2em; }

#progressing div.sort-controls { margin-left: 2em; }

/* .numbered-form-field-location_country { width: 435px; }
   .numbered-form-field-location_country div.field-controls { width: 14em !important; }*/

#contributed .column-footer { font-size: 1em; }
.dialog-content div.asset .valid-img { right: -17px; }

.rights-section .large { clear: both; width: 100%; }

#completer-creator-0 { z-index: 9999 !important; }

#period_dynasty-0 div.field-controls { width: 19em; }
/* .numbered-form-field-title div.field-controls { width: 19em; right: 0.5em !important; } */


/* Search related */
#simple-search {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    margin-bottom: 1%;
}

#simple-search h2 {
    font-size: 2.5em;
    line-height: 2em;
    color: #4F5557;
}

#simple-search form input {
    font-size: 14pt;
    border: 2px solid #aaa;
}

#simple-search form input.large {
    width: 60%;
}

#simple-search span.bold {
    font-size: 1.5em;
}

#search_example {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    display: none;
}

#search-results {
    border-top: 1px solid white;
}

#search-results div.header {
    padding: 0;
    padding-top: 3em;
    padding-bottom: 1em;
    margin: 0;
    background-color: #e6e6c5;
}

#search-results div.new-search {
    float: right;
    margin-right: 2.5em;
}

/*#search-results .orange {
  background: #b64404;
  }
  */

#search-results a.button {
    float: left;
}

#search-results span.heading {
    font-size: 3em;
    margin-left: 15px;
}

#search-results table {
    font-size: 7pt;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* background-color: #E6E6C5; */
    background-color: #dee4e2;
    position: relative;
}

#search-results table th {
    font-weight: 100;
}

#search-results table th.count {
    padding-left: 1em;
    text-align: left;
}

#search-results table th.pagination {
    text-align: right;
    padding-right: 1em;
}

#search-results table th.perpage form {
    display: inline;
}

#search-results div.result_row {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    border-bottom: 1px solid black;
    clear: both;
    overflow: hidden;
}

#search-results div.result_row {
    background-color: white;
}

#search-results div.result_row div.image {
    float: left;
    width: 150px;
}

#search-results div.result_row div.data {
    margin-left: 150px;
    font-size: 7pt;
}

#search-results div.result_row span.label {
    float: left;
    display: block;
    width: 13em;
    font-weight: bold;
}

#search-results div.result_row div.even {
    background: #E6E6C5;
    margin: 0;
    padding: 0;
}

#search-results #terms-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 30px;
    border-top: 1px solid black;
    padding-top: 10px;
    background-color: #dee4e2;
}

#search-results div.result_row div.search-control {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    overflow: hidden;
}

#search-results div.table-container {
    position: absolute;
    top: 107px;
    left: 0;
    bottom: 40px;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#search-results table.tabular-results {
    border-collapse: collapse;
    background-color: white;
    overflow-y: scrolling;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

#search-results div.header-spacer {
    margin-right: 15px;
    overflow: hidden;
}

#search-results table.results-header {
    border-collapse: collapse;
}

#search-results table.results-header th {
    background-color: #444;
    color: white;
    text-align: left;
    padding: 1px;
    margin: 0;
    width: 13%;
    border: 1px solid #aaa;
}

#search-results table.results-header th.id-column {
    width: 22%;
}

table.tabular-results td {
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding: 1px;
    width: 13%;
    margin: 0;
    vertical-align: top;
    overflow-x: hidden;
}


table.tabular-results td.id-column {
    width: 22%;
}

#search-results div.scrolling {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 9em;
    bottom: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*
  Search Edit Dialog
  */

#asset-edit-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 600px;
    margin-top: -300px;
    margin-left: -400px;
    overflow: hidden;
    display: none;
    background-color: white;
    border: 1px solid black;
}

#admin-asset-information-pane {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#admin-asset-information-pane div.asset_data img {
    border: 1px solid black;
}

#admin-asset-information-pane div.admin-document-edit-form {
    position: absolute;
    top: 0px;
    left: 220px;
    right: 0px;
    bottom: 48px;
    overflow-y: scroll;
}

#admin-asset-manipulation-tabs {
    padding-top: 10px;
}

#admin-asset-information-pane div.asset-image {
    width: 128px;
    height: 128px;
    border: 1px solid #888;
    background-position: center center;
    background-repeat: no-repeat;
}

#admin-asset-information-pane div.asset-data {
    padding-top: 12px;
    padding-left: 30px;
    width: 132px;
    overflow: hidden;
}

.change-history { font-size: .7em; }
.change-history .latest { border: 1px solid grey; background-color: #E6E6C5; }
.change-history .entry { border-left: 1px solid grey; border-right: 1px solid grey; border-bottom: 1px solid grey; }
.change-history .latest, .change-history .entry { padding: 5px 10px; color: grey; width: 105px; }
.change-history .title { font-weight: bold; color: #000; font-size: 1.15em; }

#admin-asset-information-pane div.dialog-footer {
    background-color: #E6E6C5;
    border-top: 1px solid #888;
    padding-right: 30px;
    padding-left: 30px;
}

#admin-asset-information-pane div.change-history {
    margin-top: 15px;
}

.float-right {
    float: right;
}

#search-results div.result_row {
    position: relative;
    overflow: default;
}

#search-results div.suppress {
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(/images/small_suppress.png);
    width: 22px;
    height: 22px;
    z-index: 1000;
}

#admin-asset-information-pane div.suppress {
    position: absolute;
    left: 27px;
    top: 13px;
    background-image: url(/images/small_suppress.png);
    width: 22px;
    height: 22px;
    z-index: 1000;
}

#search-results img { border: 1px solid #888; }
#search_thumbnail { position: absolute; display: none; border: 2px solid black; z-index: 1000; }
#thumbnail_suppression_flag { display: none; position: absolute; z-index: 1001; }
#admin-asset-transform-pane div.image-processing-controls { margin-left: 259px; }

a.button span.button-text:hover { border: 1px solid white; }
a.orange.button { background: #b64404; }
a.orange.button span { background: #b64404; }
a.brown.button { background: #9c9673; }
a.brown.button span { background: #9c9673; }
a.disabled.button { background-color: #666666; }
a.disabled.button span.button-text { background-color: #666666; border: 1px solid black; }
a.disabled.button span.button-text:hover { border: 1px solid black; }
a.disabled.button { color: #666666; }
a.disabled.button span { border: 1px solid #666666; }

a.my-profile { margin: 0 0.5em }
a.logout { margin: 0 0.5em 0 0 }

.sah-2 h2 { margin-bottom: 0.5em; font-size: 2em; }
.sah-2 .errors { margin-bottom: 1em; color: red; }
.sah-2 .text, .sah-2 .button { font-size: 165%; padding: 0.25em 0.5em; }
.sah-2 .text { width: 20em; color: #888; }

#navigation ul { margin-left: 4em; margin-top: .5em; }
#navigation ul li, #navigation ul li a { float: left; display: inline; }
#navigation ul li { padding: 0 1em 1em 1em; border-right: 1px solid #aaa; }
#navigation ul li.last { border-right: none; }

#welcome { margin-left: 2em; }

#left-sidebar { width: 60em; float: left; min-width: 40em; }
#left-sidebar form { min-width: 20em; }
#left-sidebar .inner-wrapper { margin: 5em 2em 2em 5em; }
#left-sidebar .editorial-links-hd { margin-top: 2em; margin-bottom: 1em; }

#left-sidebar .editorial-links-box { background: #efefef; float: left; padding: 0.25em; clear: both; margin-bottom: 1em; min-width: 45em; }
#left-sidebar .editorial-links-box .inner-wrapper { margin: 0; padding: 4em; border: 2px solid #fff; }
#left-sidebar .editorial-links-box .count { font-size: 2em; display: inline-block; vertical-align: middle; margin-right: 0.5em; padding-right: 0.5em; border-right: 2px solid #fff; line-height: 2em; }
#left-sidebar .editorial-links-box a { display: inline-block; vertical-align: middle; width: 18em; font-size: 1.5em; line-height: 2em; margin-left: 1em; }

#right-sidebar { float: left; }
.add-images-box { width: 27em; background: #efefef; height: 10em; padding: 2em; position: relative; }
.add-images-box h2 { line-height: 1.5em; font-size: 2em; width: 10em; }
.add-images-box span { background: #000; padding: 0.1em; position: absolute; bottom: 1em; right: 1em; }
.add-images-box a { padding: 0.5em; color: #fff; text-transform: uppercase; text-decoration: none; border: 1px solid #fff; display: inline-block; }

.stats-site-link { display: block; margin-bottom: 2em; margin-top: 0.25em; }
.stats-hd { margin-top: 1.75em; font-size: 2em; }

.stats-section { overflow: hidden; padding: 1em; float: left; clear: both; font-size: 1.5em; min-width: 18.5em; margin-bottom: 1em; border-bottom: 2px solid #ddd; }
.stats-section .count { display: inline-block; margin-right: 1em; vertical-align: top; float: left; }
.stats-section p { display: inline-block; vertical-align: top; width: 13em; line-height: 1.5em; margin-top: -0.25em; float: left; }
.stats-section.total { border: none; }
.stats-section.total .upper { text-transform: uppercase; }
.stats-section.total .count { font-weight: bold; }

#content { min-width: 1000px; }

.search-wrapper { width: 45em; margin: 3em auto 0 auto; }
.search-info { width: 44em; }
.search-screenshot { margin-top: 2em; }

h2.how-to-find { font-size: 1.25em; margin-top: 2em; }

.search-results-hd { margin-top: .5em; margin-left: 2em; position: relative; min-width: 1000px; margin-bottom: .5em; }
.search-results-hd h2 { margin-bottom: 0.5em; display: inline-block; margin-right: 0.5em; }
.search-criteria { margin-left: 1em; }
.new-search-wrapper { position: absolute; top: -2em; right: 2em; text-align: right; }
.new-search-wrapper .new-search { display: block; margin-top: 2px; line-height: 2em; font-size: 2em; margin-bottom: .10em; margin-right: 0.5em; text-decoration: underline; }
.new-search-wrapper a { color: darkorange; text-decoration: none; margin: 0 0.5em; }
.new-search-wrapper .selected { border: 1px solid darkorange; padding: 0.25em 0.5em; }

.control-bar { border-top: 1px solid #333; width: 100%; border-bottom: 1px solid #333; margin-top: .5em; margin-bottom: 2px; overflow: hidden; background: #F0E4CF; min-width: 1000px; }
.control-bar form { display: inline; }
.control-bar-section { padding:0; text-align: center; background-color: #f0e4cf; border-right: 2px solid white; line-height: 2.5em; margin: 2px 0; }
.separator { background-color: #fff; position: absolute; top: 0; right: 0; }
.sort-by-section { text-align: left; padding-left: 6px; }
.sort-by-section span { cursor: pointer; }
.sort-by-section span:hover { text-decoration: underline; }
.sort-by-section .desc { background: url(../images/down-arrow.png) -7px -8px no-repeat; }

.nav-control-section { border: 0; text-align: right; padding-right: 6px; }
.nav-control-section .nav-control { background: #7a7065; color: #eee; padding: 0.2em 0.5em; text-decoration: none; }
.nav-control-section .text { width: 2em; text-align: right; }

.thumb-view-table { width: 100%;}
.thumb-view-table td { border-bottom: 1px solid #aaa; padding-bottom: 1em; padding-top: 1em; }
.thumb-view-table tr.last td { border-bottom: none; }
.thumb-view-table .locked { background: url(../images/locked-record-bg.png) top left repeat-y; }
.thumb-view-table dl { overflow: hidden; }
.thumb-view-table dt, .thumb-view-table dd { float: left; }
.thumb-view-table dt { font-weight: bold; margin-right: 1em; width: 30%; }
.thumb-view-table dd { clear: right; width: 65%; }
.thumb-view-table .button, .administer-wrapper .button { display: inline-block; clear: both; margin-top: 2em; color: #eee; padding: 0.2em; text-decoration: none; }
.thumb-view-table .button span, .administer-wrapper .button span { border: 1px solid #fff; padding: 0.2em 0.5em; display: inline-block; background: #333 !important; }

.thumb-view-table .thumb-wrapper, 
.thumb-view-table .status-wrapper { text-align: center; padding-right: 2em !important; }
.thumb-view-table .thumb-wrapper { width: 20%; }
.thumb-view-table .status-wrapper p { text-align: center; width: 200px; float: right; }
.thumb-view-table .status-wrapper img { margin-bottom: 1em; display: block; margin: 0 auto; }
.thumb-view-table .thumb-wrapper { text-align: center; }
.thumb-view-table .status-wrapper { text-align: right; padding-right: 1em; }
.thumb-view-table .thumb-wrapper a { position: relative; }
.thumb-view-table .suppress-icon { position: absolute; top: -10px; left: -10px; border: none; z-index: 100; }

.list-view-table { border-collapse: collapse; }
.list-view-table th { background: #555; color: #eee; height: 3em; vertical-align: top; padding-top: 0.5em; width: auto; }
.list-view-table td { padding: 1em; width: 1000px; }
.list-view-table a { color: #f37334; }
.list-view-table th, .list-view-table td { border: 1px solid #ccc; }
.list-view-table tr:hover { background-color: #ffeab3; }
.list-view-table tr { width: 100% }
.list-view-table .locked { background-color: #f0e4cf; }
.list-view-table .wrapper { position: relative; }
.list-view-table .tooltip { position: absolute; left: 100px; top: -2px; overflow: hidden; width: 300px; height: 128px; background: #fff; border: 1px solid #aaa; z-index: 3000; text-align: center; padding: 0.5em; }
.list-view-table .tooltip img { display: block;}
.list-view-table .tooltip p { display: block; float: right; width: 160px; height: 128px; overflow: hidden; }

.administer-wrapper { width: 60em; margin: 3em auto 0 auto; }
.administer-wrapper h2, .administer-wrapper h3 { margin-bottom: 2em; font-size: 2.25em; }
.administer-wrapper h3 { font-size: 1.5em; margin-bottom: 1em; margin-top: 3em; }
.administer-wrapper .section { background: #eee; padding: 2em; margin-bottom: 2em; overflow: hidden; max-width: none; }
.administer-wrapper .section p { float: left; font-size: 1.25em; line-height: 2em; }
.uppercased { text-transform: uppercase; }
.administer-wrapper .button { float: right; color: #eee; margin-top: 0; clear: none; }
.administer-wrapper .button span { padding-left: 2em; padding-right: 2em; }
.section .note { font-size: 0.9em !important; color: #555; font-style: italic; }
.administer-wrapper form input[type="submit"] { background: #333; border: none; padding: 0.25em 2em; color: #eee; text-transform: uppercase; float: right; border: 1px solid #eee; cursor: pointer; }
.administer-wrapper .submit-wrapper { background: #333; padding: 1px; cursor: pointer; float: right; }
.administer-wrapper form ul { margin-top: 2em; }
.administer-wrapper form li { margin-bottom: 1em; font-size: 1.25em; }
.administer-wrapper form label { text-transform: uppercase; margin-left: 0.5em; }

.dialog { background: #fff; border: 1px solid #aaa; z-index: 1000; position: fixed; left: 31%; top: 17%; padding: 1px; width: 600px; -moz-box-shadow: 1px 1px 15px rgba(0,0,0,0.4); -webkit-box-shadow: 1px 1px 15px rgba(0,0,0,0.4); }
.dialog h2 { margin: 0.5em; }
.dialog .status-message { margin-left: 1em; margin-bottom: 0.5em; visibility: hidden; }
.dialog .close-trigger { position: absolute; top: 0; right: 0.5em; font-weight: normal; }
.dialog .dialog-header { position: relative; width: auto; }
.dialog .footer { position: relative; padding: 1em; overflow: hidden; }
.dialog .footer button { padding: 0.25em; }

#controlled-lists-dialog { height:420px; left:50%; margin-left:-300px; margin-top:-210px; overflow:hidden; position:absolute; top:50%; width:600px; }
#controlled-lists-dialog table { width: 100%; border-collapse: collapse; margin: 0 auto; }
#controlled-lists-dialog th { background: #484848; color: #eee; text-align: left; }
#controlled-lists-dialog td, #controlled-lists-dialog th { padding-left: 0.5em; border: 1px solid #ccc; line-height: 2.5em; }
#controlled-lists-dialog tr:hover, 
#controlled-lists-dialog tr.active,
#controlled-lists-dialog table.active tr.active:hover { background-color: #ffeab2; }
/* do not highlight rows when table is in active state (row was just added) */
#controlled-lists-dialog table.active tr:hover { background-color: inherit; }
#controlled-lists-dialog .table-wrapper { overflow-y: scroll; overflow-x: scroll; height: 300px; margin: 0 5px 1em 5px; border: 1px solid #333; }
#controlled-lists-dialog .add-new { position: absolute; top: 5px; right: 5px; }
#controlled-lists-dialog .edit { margin-right: 0.5em; }
#controlled-lists-dialog .actions-header { width: 150px; }

#controlled-lists-dialog { z-index: 1000; }
#controlled-lists-confirm-dialog { z-index: 1100; width: 35em; }
#controlled-lists-confirm-dialog .body { padding: 2em; }
#controlled-lists-confirm-dialog .body h2 { margin-left: 0; margin-bottom: 1em; }
#controlled-lists-confirm-dialog .footer { border-top: 1px solid #aaa; padding: 0.5em; text-align: right; }

#refer-dialog { height:550px; left:50%; margin-left:-350px; margin-top:-240px; overflow:hidden; position:absolute; top:50%; width:700px; }
#refer-dialog .dialog-header { margin-bottom: 0.5em; }
#refer-dialog .thumb { float: left; border: 1px solid #ccc; margin: 0 1em 1em 1em; width: 128px; height: 128px; border: 1px solid #aaa; }
#refer-dialog .roles { overflow: hidden; margin-left: 1em; }
#refer-dialog .role { float: left; margin-right: 0.5em; width: 22em; border: 1px solid #aaa; height: 30em; overflow-y: auto; }
#refer-dialog .role label { margin-left: 0.5em; }
#refer-dialog .role h3 { border-bottom: 1px solid #aaa; margin-bottom: 0.5em; padding: 1em; text-transform: uppercase; font-size: 1.5em; }
#refer-dialog .role h3 label { cursor: pointer; }
#refer-dialog .role ul { padding-top: 0.5em; }
#refer-dialog .role li { padding-left: 1em; padding-bottom: 0.75em; }
#refer-dialog .role .any { border-bottom: 1px dashed #aaa; padding-bottom: 0.5em; margin-bottom: 0.5em; }
#refer-dialog .body { padding-bottom: 1em; }
#refer-dialog .footer .cancel, 
#refer-dialog .footer .next { float: right; margin-left: 1em; position: relative; text-transform: uppercase; }
#refer-dialog .status-message { color: red; }
#refer-dialog .list label { padding: 0.5em; /* to make selection easier */ }

#refer-dialog-cancel { height: 250px; left:50%; margin-left:-250px; margin-top:-240px; overflow:hidden; position:absolute; top:50%; width:500px; }
#refer-dialog-cancel .body p { font-size: 1.25em; }
#refer-dialog-cancel .body .large { font-size: 2em; line-height: 1.5em; }
#refer-dialog-cancel .body { padding: 1em; width: 50%; margin: 2em auto 0 auto; text-align: center; }

#refer-dialog-cancel p { margin-bottom: 1em; }
#refer-dialog-cancel .footer .no { margin-left: 0.75em; }
#refer-dialog-cancel .footer button { float: right; }
                     
#refer-dialog-confirm { height: 350px; left:50%; margin-left:-300px; margin-top:-200px; overflow:hidden; position:absolute; top:50%; width:600px; } 
#refer-dialog-confirm .body { width: 75%; margin: 3em auto 0 auto; text-align: center; overflow: hidden; }
#refer-dialog-confirm .large { font-size: 2em; line-height: 1.5em; }
#refer-dialog-confirm .floated { float: left; }
#refer-dialog-confirm .refer-list { width: 85%; margin: 3em auto; overflow: hidden; line-height: 6em; }
#refer-dialog-confirm .refer-list span { font-size: 2em; font-weight: bold; margin: 0 1em; }
#refer-dialog-confirm .refer-list ul { line-height: 1.75em; text-align: left; padding: 0.5em; }
#refer-dialog-confirm .footer a, #refer-dialog-confirm .footer button { float: right; margin-left: 0.75em; }
#refer-dialog-confirm .footer { padding-right: 0.75em; border-top: 1px solid #aaa; }
#refer-dialog-confirm img.floated { width: 128px; height: 128px; border: 1px solid #aaa; }

#refer-dialog, #refer-dialog-confirm, #refer-dialog-cancel, #edit-save-confirm-dialog { z-index: 9999; }
#edit-save-confirm-dialog { height: 180px; left:50%; margin-left:-250px; margin-top:-200px; overflow:hidden; position:absolute; top:50%; width:500px; }
#edit-save-confirm-dialog h2 { text-align: center; margin-top: 3em; }
#edit-save-confirm-dialog .dialog-footer { text-align: right; border-top: 1px solid #aaa; line-height: 4em; padding-right: 1em; }


#progressing-count { display: inline-block; margin: 0; min-width: 1em; }

.control-bar-section .sort { padding-left: 18px; margin-left: 0; }
.control-bar-section .desc, .control-bar-section .asc { background-repeat: no-repeat; background-position: -9px -7px; }
.control-bar-section .desc { background-image: url(../images/down-arrow.png); }
.control-bar-section .asc { background-image: url(../images/up-arrow.png); }

#toggle_suppression { position: absolute; top: 3em; line-height: 1.5em; right: 2em; }

#edit-form-status-box { margin: 1em 1em 0 0; }

#search-form .text { color: #888; }
#search-form input { padding: 0.25em; }

#document-messaging { color: inherit; }
#work-document { margin-top: 2em; }

.updates-info { margin-bottom: 0.5em; }
.contributor-info { overflow: hidden; width: 43em; margin-bottom: 0.5em; }
.contributor-info .floated { float: left; width: 20em; border: 1px solid #aaa; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; }
.contributor-info .floated.left { border-left: 0; }
.contributor-info .floated.right { border-left: 0; border-right: 0; }
.contributor-info label { margin-right: 0.5em; }

div.large { margin-left: 0.5em; }

div.editorial-section { background-color: #F0E4CF; margin: 0; padding: 1em 0 1em 1em; width: 518px; }
div.section div.editorial-notes { margin-bottom: 0; width: 518px; border-left: 0; background: #D3C386 url(../images/down-arrow.png) 0 -2px no-repeat; }
div.section div.editorial-notes.collapsed { background: #D3C386 url(../images/right-arrow.png) 0 -2px no-repeat; }
div.section div.editorial-notes span { margin-left: 1.5em; -moz-user-select: none; -khtml-user-select: none; }
div.editorial-section textarea { width: 500px !important; }

.click-invitation { color: #777; font-size: 0.8em; text-align: center; }
#footer { text-align: right; line-height: 50px; border-top: 1px solid #aaa; }
#footer a { margin-right: 1em; }

#home-wrapper { overflow: hidden; margin: 0 auto; width: 1000px; }

table.list-view-table div.wrapper p { display: inline; }

.publish-dialog .cancel, .publish-dialog .submit { margin-left: 1em; }
.publish-dialog .dialog-footer { padding-right: 1em; border-top: 1px solid #aaa; line-height: 4em; text-align: right; }
.publish-dialog span { float: left; }
.publish-dialog input { margin-right: 0.5em; }
.publish-dialog h2  { text-align: center; margin-top: 4em; margin-bottom: 1em; }
.publish-dialog form { width: 260px; margin: 0 auto; }
.publish-dialog form p { margin-bottom: 1em; }
.publish-dialog .dialog-footer .cancel, 
.publish-dialog .dialog-footer .next { float: right; min-width: 4em; margin-left: 1em; position: relative; text-transform: uppercase; }
#wait-for { width: 100%; height: 100%; display: none; opacity: 0.5; position: fixed; left: 0; top: 0; z-index: 2999; background-color: black; }
#wait-for .message { width: 300px; height: 100px; position: absolute; left: 50%; top: 50%; margin-left: -150px; margin-top: -50px;
		   border: 1px solid gray; background: black url(/images/loading.gif) fixed center no-repeat; color: white; text-align: center;
		   font-size: 1.5em; line-height: 60px;}

#main { width: 100%; margin: 0 auto; clear: both;}

.footer-links-wrapper { float: left; clear: left; margin-top: 0.75em; }
.footer-links-wrapper a { margin-right: 1em; }