div.legal-center {
	position: absolute;
	top: 4em;
	left: 25%;
	right: 25%;
	bottom: 10em;
	background: white;
	}

h3.legal-summary {
	padding-left: 25%;
	padding-top: 3em;
	color: #666666;
	font-size: 1.4em;
	}

div.legal-container {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #666666;
	position: absolute;
	font-size: 1.2em;
	top: 12em;
	right: 25%;
	left: 25%;
	bottom: 10em;
	overflow-y: auto;
	overflow-x: hidden;
}

div.welcome-container {
	position: absolute;
	font-size: 1.4em;
	top: 10em;
	right: 25%;
	left: 25%;
	bottom: 10em;
	overflow-y: auto;
	overflow-x: hidden;
}

div.legal-container p {
	margin-bottom: 1em;
}

div.legal-button-container {
	position: absolute;
	bottom: 7em;
	right: 25%;
	}

div.legal-button-container a.button {
	float: left;
	margin-right: .5em;
	}

#content div.center {
	clear: both;
	color: #666666;
	padding-top: 5%;
	padding-left: 25%;
	margin-left: auto;
	margin-right: auto;
	}

#content form label {
	display: block;
	width: 10em;
	float: left;
	text-align: right;
	padding-right: .5em;
	}

#content form div {
	padding-bottom: .5em;
	}

#content form a {
	padding-left: 10.5em;
	}

#content form a.button {
	padding: 1px;
	float: left;
	margin-top: 2em;
	margin-left: 22.5em;
	}

#content form .button-text {
	padding: 0.2em 1em;
	color: #fff;
	}

#content p.error {
	padding-top: .5em;
	padding-bottom: .5em;
	color: red;
	}

#content h2 {
	padding-bottom: 1em;
	}
