<h1>Help</h1>
<p>Click a question in the list below to read its response</p>

<h2>Technical requirements</h2>
<div>
  <p>
    High-speed internet connection (not a dial-up connection)
  </p>
  <p>
    Flash player.
    <a href="http://get.adobe.com/flashplayer/" title="">Install/upgrade Flash</a>
  </p>
  <p>
    Popup blockers are disabled. 
    <a href="http://help.artstor.org/wiki/index.php/Disabling_Popup_Blockers" title="">How to disable popup blockers</a>
  </p>

  <h3>PC Operating Systems</h3>
  <ul>
    <li>Windows XP</li>
    <li>Windows Vista</li>
  </ul>

  <h3>PC Browsers</h3>
  <ul>
    <li>Internet Explorer 7</li>
    <li>Firefox 2.0+</li>
    <li>Safari 3.0+</li>
  </ul>

  <h3>Mac Operating Systems</h3>
  <ul>
    <li>OS 10.4 (Tiger)</li>
    <li>OS 10.5 (Leopard)</li>
  </ul>

  <h3>Mac Browsers</h3>
  <ul>
    <li>Safari 3.0+</li>
    <li>Firefox 2.0+</li>
  </ul>
  
</div> 
 
<h2>Add images to the workspace</h2>
<div>
  <ol>
    <li>Log in to view your workspace. (Image panel on the left and the data panel on the right.)</li>
    <li>Click Add at the bottom of the image panel.</li>
    <li>In the new window click Browse to select a file from your computer directory. 
      Control-click or shift-click to select multiple files and then click Open. 
      Supported files include: JPEG, GIF, TIFF, PNG, MP3, QTVR.</li>
    <li>The selected files appear in the add window; click Add.</li>
  </ol>
</div> 
 
<h2>Add data to an image record</h2>
<div>
  <ol>
    <li>Log in to view your workspace. (Image panel on the left and the data panel on the right.)</li>
    <li>Click once to select an image thumbnail in the image panel. The data panel will then display the metadata record for the chosen image.</li>
    <li>At the top of the data panel you will see the option ‘List of fields: BRIEF | FULL’. Click BRIEF to view fewer data fields or click FULL to view all data fields. Required field titles are marked with a red star in both the BRIEF and FULL data templates.</li>
    <li>Click in any field to input data.</li>
    <li>Click the + (plus sign) to add multiple values to one field.</li>
    <li>Save your work often by clicking SAVE at the bottom of the data panel. You can always go back to edit and re-save any data fields before contributing your images to the SAHARA Members Collection.</li>
  </ol>

  <p>For faster data entry, copy completed fields to other image data records.</p>
  <ol>
    <li>Select the image with completed data fields from the ‘In progress’ tab or ‘Contributed’ tab of the image panel.</li>
    <li>At the bottom of the data panel, click COPY.</li>
    <li>Follow the on-screen instructions to first select the fields you want to copy, and then select other images to which you want to apply the descriptive data. You can always go back to edit and re-save any copied data fields before contributing your images.</li>
  </ol>
</div>
 
<h2>Rotate/Replace an image file</h2>
<div>
  <ol>
    <li>Double click an image thumbnail. A new window will open. The first tab displays the image, file name, file size, and dimensions.</li>
    <li>
      Rotate: to change the image orientation.
      <ol>
        <li>
          Select the second tab, ‘Rotate and Flip.’ Use buttons below the image to rotate counter-clockwise or clockwise, and flip vertically or flip horizontally.
        </li>
        <li>
          Click SAVE before closing the window.
        </li>
      </ol>
    </li>
    <li>
      Replace: to replace this image file with another.
      <ol>
        <li>Select the third tab, ‘Replace.’ Click Browse to select the replacement file from your computer directory.</li>
        <li>Click Replace to upload the new file in place of the old.</li>
      </ol>
    </li>
  </ol>
</div>

<h2>Remove an image from the workspace</h2>
<div>
  <ol>
    <li>Click once to select an image thumbnail from the image panel.</li>
    <li>At the bottom of the image panel, click Remove.</li>
    <li>A confirmation window will appear.</li>
  </ol>
  <p>You can also remove multiple images at once</p>
  <ol>
    <li>At the bottom of the image panel, click Remove Multiple (images).</li>
    <li>Follow the on-screen instructions to choose individual images or select all images in your workspace. Click Delete Selected.</li>
  </ol>
</div> 
 
<h2>Contribute work to SAHARA</h2>
<div>
  <ol>
    <li>Once you have completed the required image data fields for an image, a check mark will appear on the upper right corner of the image thumbnail. This indicates the image and descriptive data record qualify to be contributed to the SAHARA Members Collection.</li>
    <li>Click once to select a qualifying image thumbnail from the image panel.</li>
    <li>At the bottom of the data panel, click SAVE &amp; CONTRIBUTE.</li>
    <li>The image thumbnail will move to the ‘Contributed’ tab in the image panel, signifying that your image has been uploaded to the SAHARA Members’ Collection. You can view your contributed images in the ‘Contributed’ tab of the image panel; however, you may no longer make edits to contributed images or their data.</li>
  </ol>
  
  <p>You can also contribute multiple images at a time.</p>

  <ol>
    <li>At the bottom of the data panel, click Contribute Multiple (images).</li>
    <li>A new window opens displaying all of your images that qualify to be contributed to the SAHARA Members’ Collection.</li>
    <li>Follow on-screen instructions to select, review and contribute your images. You can no longer make edits to contributed images or their data.</li>
  </ol>
</div>
  
<h2>View your contributed images</h2>
<div>
  <ol>
    <li>Your contributed work is visible in the IMATA workspace as thumbnails. To view these, click on the second tab in the image panel, ‘Contributed.’</li>
    <li>To view all images that you and others have contributed to the SAHARA Members’ Collection, click VIEW COLLECTION in the top, right corner of your screen.</li>
    <li>You will leave the IMATA site and enter the SAHARA collection in the ARTstor Digital Library.</li>
  </ol>
</div> 
 
<h2>Troubleshooting</h2>
<div>
  <dl>
    <dt>I forgot / lost my login and password.</dt>
    <dd>All eligible SAH members with valid email addresses receive an email invitation to participate in SAHARA, which will contain your assigned login email address and password. Please contact userservices@artstor.org for more help.</dd>
    
    <dt>When I click Copy /Contribute Multiple (images)/Remove multiple (images), nothing happens.</dt>
    <dd>Please make sure that your machine meets all technical requirements for using IMATA, including disabling all popup blocking software. If you are contributing multiple images, also check that all required fields are completed. Only images that have the required data can be contributed.</dd>
    
    <dt>IMATA is telling me I do not meet the SAHARA Editorial guidelines to contribute.</dt>
    <dd>You can only contribute images that have the minimum required data fields completed. These fields are marked with a red star in the descriptive data panel. Once these fields are completed and saved, the image thumbnail will have a check mark on the upper right corner – this indicates you can contribute the image and record.</dd>
    
    <dt>Where are the rest of the data fields?</dt>
    <dd>At the top of the data panel you will see the option ‘List of fields: BRIEF | FULL.’ Click BRIEF to view fewer data fields or click FULL to view all data fields. Use the scroll bar on the far right of your window to view all fields.</dd>
    
    <dt>Why do my image files sometimes take awhile to upload to IMATA?</dt>
    <dd>
      <p>
        IMATA is a web-based application that is intended for use by those with high-speed Internet connections. 
        There are several compounding factors that affect the amount of time it takes to upload image and media files to IMATA.
      </p>
      <dl>
        <dt>The size of your files</dt>
        <dd>Larger files take longer to upload</dd>

        <dt>The number of files you are trying to upload at once</dt>
        <dd>Multiple files take longer to upload</dd>

        <dt>The speed of your Internet connection</dt>
        <dd>The faster your Internet connect, the faster your files will upload</dd>

        <dt>Internet traffic at that time you are attempting to upload your files</dt>
        <dd>During peak hours of Internet use, uploads may take longer</dd>
      </dl>

      <p>For best performance, uploads should not exceed one gigabyte in size (for any one file or batch of files). Also, we do not recommend using a wireless Internet connection because of its variable signal strength. Use an Internet connection that is directly wired to your computer whenever possible. If you are uploading a very large file or a large batch of files, perform the upload from a location that offers the fastest Internet connection (typically, the network speed at your institution is much faster than a DSL or cable Internet connection from home). It may also help to run the upload process at night when there is less Internet traffic.</p>
    </dd>
    
    <dt>I contributed images but they are not in the SAHARA Members’ Collection.</dt>
    <dd>It will take at a minimum 30 minutes for your images and descriptive data to appear on the SAHARA Members’ Collection but they will appear on the ‘Contributed’ tab of the image panel right away.</dd>
    
    <dt>How do I make a change to an image I have already contributed to SAHARA?</dt>
    <dd>Once contributed, you may no longer make changes to the image or data. If you feel the change is critical, please contact the SAHARA editorial group.</dd>
    
    <dt>Why are certain fields required, and why am I limited to only certain values within some fields? Can I add my own values instead?</dt>
    <dd>Requiring key fields to be completed and restricting some fields to a list of controlled values helps users find images of interest in the SAHARA Members’ Collection. Required fields and picklist values are determined by the SAHARA editorial group. You may add your own value in the Creator field, but you may not add your own values to any other pick list fields.
    <p>
      For more information about data fields please see the <a href="SAHARA-data-dictionary.pdf" title="">SAHARA Data Dictionary</a>.
    </p>  
    </dd>
    
    <dt>I attempted to upload more images to my workspace but it failed. Why?</dt>
    <dd>
      The ‘In progress‘ tab of the IMATA workspace is limited to 200 images. If you attempt to upload beyond that you will not be able to. In order to make room for more images, you simply need to finish adding data to some images in the ‘In progress’ area and click SAVE &amp; CONTRIBUTE.
    </dd>

    <dt>Why can’t I remove images from the ‘Contributed’ tab of the image panel?</dt>
    <dd>The ‘Contributed’ tab maintains the history of all images you ever contributed.</dd>
  </dl>
  
</div>
 
<h2>Contact us</h2>
<div>
  For questions about the SAHARA project, data standards, and editorial guidelines please contact the Society of Architectural Historians: sahara@sah.org

  For technical questions about using the IMATA workspace and features, please contact: userservices@artstor.org
</div>