<div>
  <div class='dialog-header'>
	<div class="close-button">
	  <a class="button " onclick="$('#dialog').jqmHide(); return false;" href="#">
	    <span class="button-text"/>
	  </a>
	  CLOSE
	</div>
	<img src='images/dialog-icon.png'/>
  </div>
  <div class='dialog-content'>
    <br/>
    <br/>
    <br/>
	<h2>Thank you</h2>
	<h2>This record will be updated in SAHARA within 15 minutes.</h2>
	<br/>
	Note: Published records will be removed from your editing workspace.
  </div>
  <div class='dialog-footer'>
    <a class="button float-right" onclick="close_dialog('#dialog'); return false;" href="#">
      <span class="button-text">CLOSE</span>
    </a>
  </div>
</div>
