<div style="display:none;" id="refer-dialog" class="dialog">
  <%include file="refer_dialog.mako" />
</div>
<div style="display:none;" id="refer-dialog-cancel" class="dialog">
  <%include file="refer_dialog_cancel.mako" />
</div>
<div style="display:none;" id="refer-dialog-confirm" class="dialog">
  <%include file="refer_dialog_confirm.mako"/>
</div>