<div>
    <p>
      Filename: ${c.work.media_filename}<br/>
      Upload Date: ${c.work.media_uploaded_on}<br/>
      Capture Date: ${c.work.media_captured_on}<br/>
      Image Width: ${c.work.media_width}<br/>
      Image Height: ${c.work.media_height}<br/>
    </p>
</div>
